/* modal.module.css */

/* Background Overlay */
.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1000; /* Place the overlay above other content */
}

/* Modal Container */
.ModalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(105deg, #181e41 20%, #671ae4 80%);
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001; /* Place the modal above the overlay */
}

.closeModal {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ModalForm {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.ModalForm input,
.ModalForm textarea {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #181e41;
  outline: none;
  width: 400px;
  margin-bottom: 10px;
}

.ModalForm input:focus {
  border: 1px solid #ff9800;
}
