.project_body {
  display: flex;
  color: #fff;
}

.project_main {
  padding: 0px 0 50px 0px;
  flex-grow: 1;
  width: 80%;
  background: linear-gradient(to bottom right, #671ae4 20%, #181e41 90%);
}

.job_flex {
  margin: 20px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 973px) {
  .job_flex {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .job_flex {
    grid-template-columns: repeat(1, 1fr);
  }
}
