.project_body {
  display: flex;
  color: #fff;
}

.project_main {
  padding: 0px 0 50px 0px;
  flex-grow: 1;
  width: 80%;
  background: linear-gradient(to bottom right, #671ae4 20%, #181e41 90%);
}

.come_soon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.come_soon h1 {
  color: #ff9800;
  letter-spacing: 2px;
  font-size: 45px;
}
